<html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<div class = "jumbotron">
<form method ="post">
  {% csrf_token %}
  {{form.as_p}}

    <label for="cv">Enter Image Directory: </label>
    <textarea name="cv" id='cv' rows="2" cols="30" maxlength="20000"></textarea>
    <label for="width">Enter Image Width: </label>
    <textarea name="width" id='width' rows="1" cols="15" maxlength="10000"></textarea>
    <label for="height">Enter Image Height: </label>
    <textarea name="height" id='height' rows="1" cols="15" maxlength="10000"></textarea>
  <button>Submit</button>
</form>
</div>

</html>
